@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


html {
	background-color: #9AA798;
	font-size: 14px;
	/*font-family: arial, helvetica, sans-serif;*/
	/*font-family: 'Poppins', sans-serif;*/
	/*font-family: 'PT Serif', serif;*/
	font-family: 'Noto Sans Mono', monospace;
	box-sizing: border-box;
}

body {
	/*background-color: lightgray;*/
	/*width: 75%;*/
	/* max-width: 1200px;
	min-width: 600px; */
	margin: 0 auto;
}


/* Nav 2 Style  */
#navigation{
	background-color: #FEF5ED;
	z-index: 1000;
	position: fixed;
    
	width: 100%;
	padding: 10px 0;
	margin: 0;

}

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	align-items: center;
}
#navigation li {
	display: inline-block;
	align-items: center;
	margin-left: 2em;
	margin-right: 2em;

	/*color: lightgray;*/
}

#navigation a {
	display: block;
	padding: 14px;
	font-weight: 800;

	/* font-family: 'Zen Kurenaido', sans-serif; */
	font-family: 'Prata', serif;
	/*font-family: 'Caudex', serif;*/
	font-size: 16px;
	color: #516752;
	/*background-color: beige;*/
	text-decoration: none;
}

#navigation a:hover {
	color: #E73467;
	font-weight: 800;
}
#Top{
	float: left;
}

#right-nav{
	float: right;
}




















#navbar{
	background-color: #FEF5ED;
	position: fixed;
	align-items: center;
	z-index: 1000;
	width: 80%;
	padding: 10px 0;
}

#content{
	max-width: 1250px;
	margin: auto;
	padding: 0 30px;
}

.navbar .content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-list li a{
	color: darkgreen;
}

.navbar .menu-list {
	display: inline-flex;
}

.navbar .logo a {
	color: darkgreen;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#navbar li {
	font-size: 17px;
	display: inline-block; 
	margin-left: 1em;
	margin-right: 1em;
	color: lightgray;
}


#navbar a {
	display: block;
	/*opacity: 100%;*/
	color: #9AA798;
	/*background-color: beige;*/
	text-decoration: none;
}
#navbar a:hover {
	/*background-color: #E73467;*/
	color: #E73467;
}

main div{
	background-color: white;
	/*min-height: 300px;*/
	min-height: 40em;
    width: 75%;
	margin: 30px;
	padding: 10px;
}

main{
	padding-top: 60px;
}

h1{
	/*font-family: 'Zen Kurenaido', sans-serif;*/
	/*font-family: 'Caudex', serif;*/
	font-family: 'Prata', serif;
}

p{

}

/* zdog stuff */

.zdog-canvas {
    /*   background-color: #ffffff; */
      cursor: move;
    }

.overlay{
    opacity: 0;
	text-align: center;
	color: #E73467;
	padding: 100px;
	transition: 0.5s;
}


.container {
	background-color: #FEF5ED;
	height: 100px;
	transition: 0.5s;
}

.container:hover {
    background-color: pink;
    }

.container:hover .overlay {
    opacity: 1;
}
